@media (max-width: 700px) {
    .card {
        background: white;
        margin: 0% 4% 5%;
        min-width: 92%;
        flex-basis: 45%;
        padding: 1rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        transition: color 0.15s ease, border-color 0.15s ease;
    }
    .img{
        width: 100%; 
        height: 60%;
        min-width: 100%;
        min-height: 60%;
        background: #eee;
    }
    .title{
        color: #0909a9
    }
    .cardItemContainer{
        background: white;
    }
    .cardItemRow{
        margin: 5px 0px;
        background: white;
    }
}  
@media (min-width: 700px) and (max-width: 1024px) {
    .card {
        background: white;
        max-width: 45%;
        max-height: 85%;
        margin: 0 15px 15px 0;
        flex-basis: 45%;
        padding: 1rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        transition: color 0.15s ease, border-color 0.15s ease;
    }
    .img{
        width: 100%; 
        height: 60%;
        min-width: 100%;
        min-height: 60%;
        background: #eee;
    }
    .title{
        color: #0909a9
    }
    .cardItemContainer{
        background: white;
    }
    .cardItemRow{
        margin: 5px 0px;
        background: white;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .card {
        background: white;
        max-width: 23%;
        max-height: 55%;
        margin: 0 15px 15px 0;
        flex-basis: 45%;
        padding: 1rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        transition: color 0.15s ease, border-color 0.15s ease;
    }
    .img{
        width: 100%;
        height: 50%;
        min-width: 100%;
        min-height: 50%;
        background: #eee; 
    }
    .title{
        color: #0909a9
    }
    .cardItemContainer{
        background: white;
    }
    .cardItemRow{
        margin: 5px 0px;
        background: white;
    }
}