.container {
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 1.5rem;
  margin: 10px 20px;
}

.mainContent{
  display: flex;
}

.grid{
  display: flex;
  flex-wrap: wrap;
}

.footer{
  margin: 15px 20px 30px;
}

@media (max-width: 700px) {
  .mainContent{
    display: flex;
    flex-direction: column;
  }
  .sidenavFilter{
    margin: 3%;
  }
  .grid{
    margin: 3%;
  }
  
}
  
@media (min-width: 701px) and (max-width: 1024px) {
  .sidenavFilter{
    width: 30%;
    padding: 0px 15px;
    margin: 0 0 15px 0 ;
  }
  .grid{
    width: 70%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .sidenavFilter{
    width: 20%;
    padding: 0px 15px;
    margin: 0 0 15px 0;
  }
  .grid{
    width: 80%;
  }
}